body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:835px;
  display:flex;
  transition:none;
}
#u846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:835px;
}
#u846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:755px;
  background:inherit;
  background-color:rgba(251, 248, 233, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:40px;
  width:330px;
  height:755px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:378px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:rgba(20, 43, 83, 0.9921568627450981);
  text-align:center;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:40px;
  width:274px;
  height:378px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:rgba(20, 43, 83, 0.9921568627450981);
  text-align:center;
}
#u848 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:273px;
  background:inherit;
  background-color:rgba(251, 248, 233, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
  color:rgba(20, 43, 83, 0.9921568627450981);
  text-align:center;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:522px;
  width:330px;
  height:273px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
  color:rgba(20, 43, 83, 0.9921568627450981);
  text-align:center;
}
#u849 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:705px;
  width:274px;
  height:50px;
  display:flex;
  transition:none;
  font-size:36px;
}
#u850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:50px;
}
#u850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:334px;
  width:138px;
  height:128px;
  display:flex;
  transition:none;
}
#u851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:128px;
}
#u851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
