body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:835px;
  background:inherit;
  background-color:rgba(251, 248, 233, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:835px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u853_input {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#99582A;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u853_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#EAF1FF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u853_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#99582A;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u853_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#EAF1FF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 245, 245, 0);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:188px;
  width:345px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#99582A;
}
#u853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u853_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 245, 245, 0);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u853.hint {
}
#u853_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u853.disabled {
}
#u853_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u853.hint.disabled {
}
#u854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:78px;
  background:inherit;
  background-color:rgba(249, 245, 245, 0.2);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:79px;
  width:67px;
  height:78px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(20, 43, 83, 0.9921568627450981);
  text-align:center;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:105px;
  width:293px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(20, 43, 83, 0.9921568627450981);
  text-align:center;
}
#u855 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:108px;
  width:21px;
  height:20px;
  display:flex;
  transition:none;
}
#u856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(20, 43, 83, 0.9921568627450981);
}
#u857 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:168px;
  width:299px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(20, 43, 83, 0.9921568627450981);
}
#u857 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u858_input {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:85px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#99582A;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u858_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:85px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#F9F5F5;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u858_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:85px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#99582A;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u858_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:85px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#F9F5F5;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:85px;
  background:inherit;
  background-color:rgba(249, 245, 245, 0);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:251px;
  width:345px;
  height:85px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#99582A;
}
#u858 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u858_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:85px;
  background:inherit;
  background-color:rgba(249, 245, 245, 0);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u858.hint {
}
#u858_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:85px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u858.disabled {
}
#u858_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:85px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u858.hint.disabled {
}
#u859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(20, 43, 83, 0.9921568627450981);
}
#u859 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:228px;
  width:116px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(20, 43, 83, 0.9921568627450981);
}
#u859 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u860_input {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:282px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#99582A;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u860_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:282px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#F9F5F5;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u860_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:282px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#99582A;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u860_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:282px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#F9F5F5;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:282px;
  background:inherit;
  background-color:rgba(249, 245, 245, 0);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:365px;
  width:345px;
  height:282px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#99582A;
}
#u860 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u860_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:282px;
  background:inherit;
  background-color:rgba(249, 245, 245, 0);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u860.hint {
}
#u860_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:282px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u860.disabled {
}
#u860_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:282px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u860.hint.disabled {
}
#u861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(20, 43, 83, 0.9921568627450981);
}
#u861 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:345px;
  width:190px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(20, 43, 83, 0.9921568627450981);
}
#u861 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u862_input {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:60px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#99582A;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u862_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:60px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#F9F5F5;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u862_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:60px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#99582A;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u862_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:60px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#F9F5F5;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:60px;
  background:inherit;
  background-color:rgba(249, 245, 245, 0);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:679px;
  width:345px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#99582A;
}
#u862 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u862_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:60px;
  background:inherit;
  background-color:rgba(249, 245, 245, 0);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u862.hint {
}
#u862_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:60px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u862.disabled {
}
#u862_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:60px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u862.hint.disabled {
}
#u863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(20, 43, 83, 0.9921568627450981);
}
#u863 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:657px;
  width:91px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(20, 43, 83, 0.9921568627450981);
}
#u863 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:765px;
  width:300px;
  height:40px;
  display:flex;
  transition:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:168px;
  width:346px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.03520499709204887deg);
  -moz-transform:rotate(-0.03520499709204887deg);
  -ms-transform:rotate(-0.03520499709204887deg);
  transform:rotate(-0.03520499709204887deg);
  transition:none;
}
#u865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:345px;
  width:349px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.3722578156266613deg);
  -moz-transform:rotate(0.3722578156266613deg);
  -ms-transform:rotate(0.3722578156266613deg);
  transform:rotate(0.3722578156266613deg);
  transition:none;
}
#u866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:656px;
  width:347px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.03205359092179502deg);
  -moz-transform:rotate(0.03205359092179502deg);
  -ms-transform:rotate(0.03205359092179502deg);
  transform:rotate(0.03205359092179502deg);
  transition:none;
}
#u867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:79px;
  width:67px;
  height:78px;
  display:flex;
  transition:none;
}
#u868 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:78px;
}
#u868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:79px;
  width:227px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u870 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:754px;
  width:328px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u871 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:227px;
  width:346px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.03520499709204887deg);
  -moz-transform:rotate(-0.03520499709204887deg);
  -ms-transform:rotate(-0.03520499709204887deg);
  transform:rotate(-0.03520499709204887deg);
  transition:none;
}
#u871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:305px;
  width:1px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u872 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:432px;
  width:1px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u873 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:45px;
  width:20px;
  height:30px;
  display:flex;
  transition:none;
}
#u874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:32px;
  width:50px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
