body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:835px;
  background:inherit;
  background-color:rgba(251, 248, 233, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:835px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:78px;
  background:inherit;
  background-color:rgba(249, 245, 245, 0.2);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:79px;
  width:67px;
  height:78px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(20, 43, 83, 0.9921568627450981);
  text-align:center;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:105px;
  width:293px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(20, 43, 83, 0.9921568627450981);
  text-align:center;
}
#u1211 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:108px;
  width:21px;
  height:20px;
  display:flex;
  transition:none;
}
#u1212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u1212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(20, 43, 83, 0.9921568627450981);
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:168px;
  width:299px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(20, 43, 83, 0.9921568627450981);
}
#u1213 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(20, 43, 83, 0.9921568627450981);
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:228px;
  width:116px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(20, 43, 83, 0.9921568627450981);
}
#u1214 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(20, 43, 83, 0.9921568627450981);
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:345px;
  width:190px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(20, 43, 83, 0.9921568627450981);
}
#u1215 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(20, 43, 83, 0.9921568627450981);
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:657px;
  width:91px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(20, 43, 83, 0.9921568627450981);
}
#u1216 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:765px;
  width:300px;
  height:40px;
  display:flex;
  transition:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u1217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:168px;
  width:346px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.03520499709204887deg);
  -moz-transform:rotate(-0.03520499709204887deg);
  -ms-transform:rotate(-0.03520499709204887deg);
  transform:rotate(-0.03520499709204887deg);
  transition:none;
}
#u1218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u1218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:345px;
  width:349px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.3722578156266613deg);
  -moz-transform:rotate(0.3722578156266613deg);
  -ms-transform:rotate(0.3722578156266613deg);
  transform:rotate(0.3722578156266613deg);
  transition:none;
}
#u1219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u1219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:656px;
  width:347px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.03205359092179502deg);
  -moz-transform:rotate(0.03205359092179502deg);
  -ms-transform:rotate(0.03205359092179502deg);
  transform:rotate(0.03205359092179502deg);
  transition:none;
}
#u1220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u1220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:79px;
  width:67px;
  height:78px;
  display:flex;
  transition:none;
}
#u1221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:78px;
}
#u1221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:79px;
  width:227px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:754px;
  width:328px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:227px;
  width:346px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.03520499709204887deg);
  -moz-transform:rotate(-0.03520499709204887deg);
  -ms-transform:rotate(-0.03520499709204887deg);
  transform:rotate(-0.03520499709204887deg);
  transition:none;
}
#u1224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u1224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:305px;
  width:1px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1225 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:432px;
  width:1px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1226 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:45px;
  width:20px;
  height:30px;
  display:flex;
  transition:none;
}
#u1227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u1227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:32px;
  width:50px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1229_input {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#99582A;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1229_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#EAF1FF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1229_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#99582A;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1229_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#EAF1FF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 245, 245, 0);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:188px;
  width:345px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#99582A;
}
#u1229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1229_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 245, 245, 0);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u1229.hint {
}
#u1229_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u1229.disabled {
}
#u1229_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u1229.hint.disabled {
}
#u1230_input {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:85px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#99582A;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u1230_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:85px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#F9F5F5;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u1230_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:85px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#99582A;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u1230_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:85px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#F9F5F5;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u1230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:85px;
  background:inherit;
  background-color:rgba(249, 245, 245, 0);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:251px;
  width:345px;
  height:85px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#99582A;
}
#u1230 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1230_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:85px;
  background:inherit;
  background-color:rgba(249, 245, 245, 0);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u1230.hint {
}
#u1230_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:85px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u1230.disabled {
}
#u1230_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:85px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u1230.hint.disabled {
}
#u1231_input {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:282px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#99582A;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u1231_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:282px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#F9F5F5;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u1231_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:282px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#99582A;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u1231_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:282px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#F9F5F5;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u1231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:282px;
  background:inherit;
  background-color:rgba(249, 245, 245, 0);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:365px;
  width:345px;
  height:282px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#99582A;
}
#u1231 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1231_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:282px;
  background:inherit;
  background-color:rgba(249, 245, 245, 0);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u1231.hint {
}
#u1231_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:282px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u1231.disabled {
}
#u1231_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:282px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u1231.hint.disabled {
}
#u1232_input {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:60px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#99582A;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u1232_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:60px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#F9F5F5;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u1232_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:60px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#99582A;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u1232_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:60px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#F9F5F5;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u1232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:60px;
  background:inherit;
  background-color:rgba(249, 245, 245, 0);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:679px;
  width:345px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#99582A;
}
#u1232 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1232_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:60px;
  background:inherit;
  background-color:rgba(249, 245, 245, 0);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u1232.hint {
}
#u1232_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:60px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u1232.disabled {
}
#u1232_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:60px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:14px;
  color:#99582A;
}
#u1232.hint.disabled {
}
