body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:835px;
  display:flex;
  transition:none;
}
#u762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:835px;
}
#u762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:755px;
  background:inherit;
  background-color:rgba(251, 248, 233, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:340px;
  height:755px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:97px;
  background:inherit;
  background-color:rgba(102, 59, 28, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
  color:rgba(20, 43, 83, 0.9921568627450981);
  text-align:center;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:522px;
  width:274px;
  height:97px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
  color:rgba(20, 43, 83, 0.9921568627450981);
  text-align:center;
}
#u764 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:334px;
  width:138px;
  height:128px;
  display:flex;
  transition:none;
}
#u765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:128px;
}
#u765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:378px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:rgba(20, 43, 83, 0.9921568627450981);
  text-align:center;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:40px;
  width:274px;
  height:378px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:rgba(20, 43, 83, 0.9921568627450981);
  text-align:center;
}
#u766 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:705px;
  width:274px;
  height:50px;
  display:flex;
  transition:none;
  font-size:36px;
}
#u767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:50px;
}
#u767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
